.nav {
	height: 60px;
	display: flex;
	flex-direction: column;
	align-items: center;
	box-shadow: 2px -2px 2px 1px rgb(0 0 0 / 20%);
	background-color: rgb(36, 36, 36);
	position: sticky;
	bottom: 0;
	z-index: 1000; /* Ensure it's above other content */
	width: 100%; /* Make it stretch across the screen */
}

.unorderedList {
	display: flex;
	justify-content: space-between;
	height: 100%;
	width: 100%;
	max-width: 900px;
}

.listItem {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100px;
	cursor: pointer;
	border-radius: 10px;
}

.navItem {
	width: 100%;
}

.navItem a {
	text-decoration: none;
	color: rgb(255, 255, 255);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 0.7rem;
	width: 100%;
}

.navItem:hover {
	background-color: rgb(15, 15, 15);
}

.separator {
	display: flex;
	width: 100%;
	justify-content: space-around;
	margin: auto;
}
