.imageContainer {
	display: flex;
	gap: 3px;
	align-items: center;
	justify-content: flex-start;
	overflow-x: auto;
}

.image {
	width: 50%;
	height: auto;
	border: 1px solid black;
	object-fit: cover;
}
