.container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	padding: 20px;
}

.videoContainer {
	border-radius: 10px;
	border: 2px solid black;
}

.shutter {
	background-color: rgb(255, 255, 255);
	display: inline-flex;
	height: 52px;
	width: 52px;
	border-radius: 30px;
}

.buttonContainer {
	display: flex;
	justify-content: right;
	background-color: rgb(36, 36, 36);
	width: 100%;
	padding: 10px;
	border-radius: 10px;
	border: 2px solid white;
	/* Add any styles for the button container if needed */
}
